*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow: hidden;
}
#tile_container{
    height: 140vmax;
    width: 140vmax;
    position: absolute;
}
.tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
  }
.tile:hover{
    transform: scale(1.1);
}
.tile:hover > img{
    opacity: 1;
    transform: scale(1.1);
}
.tile {
    border-radius: 2vmax;
    position: absolute;
    transition: transform 800ms ease;
  }
  .tile:nth-child(1) {
    background-color: #66ff58;
    height: 14%;
    width: 20%;
    left: 5%;
    top: 19%;
  }
  
  .tile:nth-child(2) {
    background-color: #078bf8;
    height: 24%;
    width: 14%;
    left: 42%;
    top: 12%;
  }
  
  .tile:nth-child(3) {
    background-color: #7c0200;
    height: 18%;
    width: 16%;
    left: 12%;
    top: 38%;
  }
  
  .tile:nth-child(4) {
    background-color: #f8fff8;
    height: 14%;
    width: 12%;
    left: 45%;
    top: 48%;
  }
  
  .tile:nth-child(5) {
    background-color: #8d00eb;
    height: 16%;
    width: 32%;
    left: 8%;
    top: 70%;
  }
  
  .tile:nth-child(6) {
    background-color: #62f500be;
    height: 24%;
    width: 24%;
    left: 68%;
    top: 8%;
  }
  
  .tile:nth-child(7) {
    background-color: #81f3a3;
    height: 16%;
    width: 20%;
    left: 50%;
    top: 74%;
  }
  
  .tile:nth-child(8) {
    background-color: #ffc251;
    height: 24%;
    width: 18%;
    left: 72%;
    top: 42%;
  }
  
  .tile:nth-child(9) {
    background-color: #e62a43;
    height: 20%;
    width: 20%;
    left: 75%;
    top: 70%;
  }
  .tile:nth-child(10) {
    background-color: #0c3e52;
    height: 10%;
    width: 40%;
    left: 50%;
    top: 94.5%;
  }
  .tile:nth-child(11) {
    background-color: #68c3e7;
    height: 15%;
    width: 40%;
    left: 5%;
    top: 94.5%;
  }
